notebooks/logs/*
notebooks/wandb/*
.DS_Store
._*

logs/*
wandb/*
datasets/*

src/cvnn/__pycache__/*
src/cvnn/cli/__pycache__/*
src/cvnn/plugins/__pycache__/*
src/cvnn/models/__pycache__/*
src/cvnn/models/learn_poly_sampling/layers/__pycache__/*
src/cvnn/*.pyc
src/__pycache__/*
tests/__pycache__/*
/projects/__pycache__/*
/projects/classification/__pycache__/*
/projects/reconstruction/__pycache__/*
/projects/segmentation/__pycache__/*
/projects/generation/__pycache__/*

/projects/reconstruction/tests/__pycache__/*
__pycache__/*
.pytest_cache/*

Equivariant_CVNN/*
Complex-valued-Variational-AutoEncoders/*

.vscode/*
